.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: .4rem auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-size: 4rem;
  line-height: 1.1;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
  animation-delay: 15s;
}

.headingName {
  color: #0070f3;
}

.headingTitle {
  background-image: linear-gradient(90deg, #7928CA, #FF0080);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.typewriter {
  font-size: 4rem;
  margin: 0;
  transform: rotateX(90);
  animation: blue-highlight 5s infinite;
}

.linkWrapper {
  display: flex;
}

.link {
  margin-right: 10px;
  font-size: 15px;
  cursor: pointer;
}

.backToHome {
  margin: 3rem 0 0;
}

@keyframes blue-highlight {
  0% {
    color: black;
  }
  50% {
    color: #0070f3;
  }
  100% {
    color: black;
  }
}

@media (max-width: 600px) {
  .heading {
    font-size: 3rem;
    text-align: center;
  }

  .typewriter {
    font-size: 1.5rem;
  }
}
